* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.menu__icon {
    display: none;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.fon {
    height: 750px;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--info {
    max-width: 880px;
    margin: 0 auto;
}

header {
    padding: 12px 15px 12px 15px;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

header .main-img {
    display: inline-block;
    vertical-align: middle;
    width: 97px;
    height: 77px;
}

header .main__menu__item {
    vertical-align: middle;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 40px;
    display: inline-block;
}

header .main__menu__item:hover {
    border-bottom: 1px solid white;
}


.main__phone {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.main__phone a {
    display: block;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #EDEEE9;
}

.info {
    padding: 200px 0 350px 0;
    text-align: center;
}

.info span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.info h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 135%;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.info a {
    display: inline-block;
    background: #34547A;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid rgba(111, 111, 111, 0.25);
    box-sizing: border-box;
    padding: 15px 36px;
}

.header2 {
    display: none;
}

/* -----7ой блок ВСЕ СТТАТЬИ ------- */

.articles {
    padding: 50px 0 30px 0;
}

.articles__container {
    margin: 0 auto;
    max-width: 1400px;
}

.articles h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.articles__text {
    background: #F7F7F7;
    padding: 30px;
    margin-top: 51px;   
    margin: 40px auto 0;
    max-width: 290px;
}

.articles__text__title img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.articles__text__title h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    margin-left: 10px;
    font-size: 24px;
    color: #000000;
}

.articles__text p {
    font-style: normal;
    font-weight: normal;
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
    color: #999999;
}

.articles__text .wrapper-more {
    text-align: right;
    width: 100%;
}

.articles__text .more a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-transform: uppercase;
}

.articles__text .more {
    background: #000000;
    border-radius: 20px;
    padding: 13px 16px;
    display: inline-block;
    margin-top: -9px;
}

.articles__article__author {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #000000;

    margin-top: 33px;
    text-align: center;
}

.articles__article__author span {
    color: #F7654A;
}

.swip-slide {
    width: 420px;
    font-size: 0;
}

.swip .swiper-button-prev::after,
.swip .swiper-button-next::after {
    color: white;
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
    width: 40px;
    padding: 10px;
}


.swip .swiper-pagination {
    top: 353px;
}

.swip .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    line-height: 20px;
    font-style: 14px;
    background-color: #F7654A;
}

.swip {
    padding-bottom: 30px;
}

.swip {
    height: 700px;
}

.swip .swiper-slide {
    height: calc((100% - 30px) / 2);
    overflow: hidden;
}

.scroll-articles {
    margin-top: 50px;
    margin-bottom: 73px;
}

.container-scroll {
    background: #404149;
    border-radius: 40px;

    max-width: 1300px;
    margin: 0 auto;
    padding: 28px 79px 80px 48px;
}

.scroll-articles a {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    display: inline-block;
}

.container-scroll a:hover{
    color: #F7654A;
}

.container-scroll span {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    vertical-align: top;
    display: inline-block;
}

.scroll-articles-title {
    vertical-align: top;
    text-align: left;
    margin-right: 20px;
}

.scroll-articles-title .scroll a {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}


.scroll-articles-all {
    display: inline-block;
    max-width: 935px;
    vertical-align: top;

    overflow: auto;
    padding: 0 20px 30px 16px;
    height: 370px;
}

.scroll-articles-all__title img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.scroll-articles-all__title h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 15px;
}

.scroll-articles-all__author {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 20px;
}

.scroll-articles-all__author span {
    color: #F7654A;
}

.scroll-articles-all__main {
    margin-top: 15px;
}

.scroll-articles-all__main img {
    max-width: 200px;
    max-height: 200px;

    width: 100%;
    height: auto;

    float: left;
    margin: 0 15px 0 0;
} 

.scroll-articles-all__main p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.scroll-articles-title .scroll:hover a {
    color: #F7654A;
}

.swip2 .swiper-scrollbar-drag {
    cursor: pointer;
    background-color:rgba(250, 217, 217, 0.25);
}

.swip2 {
    padding: 0;
    height: 370px;
    max-width: 390px;
    display: inline-block;
}

.swiper-container {
    margin: 0;
}

.contacts {
    margin-bottom: 110px;
}

.container-contacts {
    max-width: 1200px;
    margin: 0 auto;
}

.contacts h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin: 0;

    margin-bottom: 84px;
}

.one {
    max-width: 200px;
}

.two {
    max-width: 209px;
}

.three, .four {
    max-width: 214px;
}

.wrapper-contacts {
    display: flex;
    justify-content: space-between;
}

.contacts-block {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.contacts-block img {
    margin-bottom: 8px;
}

.contacts-block .contacts-block-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #999999;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contacts-block .contacts-block-text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.unic {
    max-width: 145px;
    margin: 0 auto;
}

footer {
    background: #404149;
}

.container-footer {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0 30px;
}

footer span {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

body._lock {
    overflow: hidden;
}


@media (max-width: 550px){
    .main-menu {
        display: flex;
        justify-content: space-between;
    }

    .menu__icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-top: 10px;
    }

    .header1 {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon::before, 
    .menu__icon::after,
    .menu__icon span {
        left: 0;
        height: 10%;
        width: 100%;
        position: absolute;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before, 
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }
 
    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        display: inline-block;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #404149;
        opacity: 0.9;
        left: -160%;
        padding: 16px 19px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu-list a {
        margin-top: 15px;
        font-size: 24px;
    } 

    .header2 .container {
        display: block;
    }

    .main__phone {
        display: none;
    }

    .menu-list a {
        margin-right: 10px;
    } 

    header .main-img img {
        width: 48px;
        height: 38px;
    }

    .header2 {
        background-image: url(../images/header320.png);
        
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        padding-bottom: 8px;
    }

    header .main-img {
        width: 48px;
        height: 38px;
        margin-right: 110px;
    }

    header {
        padding: 7px 14px 0 7px;
        border-bottom: 0;
    }

    .main__phone a {
        font-size: 9px;
        line-height: 11px;
        vertical-align: middle;
    }

    .main__phone {
        margin-right: 0;
    }

    
    .fon {
        height: 256px;
    }

    .info {
        padding: 108px 0 0 0;
    }

    .info span {
        font-weight: 500;
        font-size: 7px;
        line-height: 9px;
        text-align: center;
    }

    .info h1 {
        font-size: 10px;
        line-height: 134.09%;
        max-width: 185px;
        margin: 10px auto 20px;
    }

    .info a {
        font-size: 8px;
        line-height: 10px;
        padding: 8px 18px;
    }

    .fon {
        padding: 7px 0 135px 0;
    }

    /* ----СТАТЬЯ------- */

    .scroll-articles-all__title img {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }

    .scroll-articles-all__title h2 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        color: #FFFFFF;
        margin-left: 10px;
    }

    .scroll-articles-all__main img {
        max-width: 150px;
        max-height: 150px;
        width: 100%;
        height: auto;
        float: left;
        margin: 0 15px 0 0;
    }

    .container-scroll {
        background: #404149;
        border-radius: 40px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 28px 30px 28px;
    }

    .scroll-articles-title .scroll a {
        font-style: normal;
        font-weight: bold;
        font-size: 23px;
        color: #FFFFFF;
    }

    .container-scroll span {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        vertical-align: top;
        display: inline-block;
    }

    .scroll-articles-all__author span {
        color: #F7654A;
    }

    .articles {
        padding: 29px 0 30px 0;
    }

    .articles h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }

    .articles__text {
        background: #F7F7F7;
        padding: 30px;
        margin-top: 51px;
        margin: 15px auto 0;
        max-width: 290px;
    }

    .articles__text {
        background: #F7F7F7;
        padding: 12px;
        margin-top: 51px;
        margin: 15px auto 0;
        max-width: 290px;
        overflow: auto;
        height: 200px;
    }

    .articles__article__author {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 0.02em;
        color: #000000;
        margin-top: 11px;
        text-align: center;
    }

    .articles__text__title img {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }

    .swip .swiper-pagination {
        top: 330px;
    }

    /* ---------КОНТАКТЫ----------- */

    .contacts {
        padding-bottom: 46px;
        margin: 0;
    }

    .container-contacts {
        max-width: 268px;
        margin: 0 auto;
    }

    .contacts h2 {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .one {
        max-width: 150px;
    }

    .two {
        max-width: 118px;
    }

    .three, .four {
        margin-top: 40px;
    }

    .wrapper-contacts {
        display: flex;
        max-width: 268px;
        flex-wrap: wrap;
    }

    .contacts-block {
        display: block;
    }

    .contacts-block img {
        margin-bottom: 5px;
    }

    .contacts-block .contacts-block-title {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .contacts-block .contacts-block-text {
        font-size: 14px;
        line-height: 17px;
    }

    .unic2 {
        max-width: 89px;
        margin: 0 auto;
    }

    /* ------footer------- */

    .container-footer {
        max-width: 265px;
        flex-direction: column;
        padding: 10px 0 13px;
        text-align: center;
    }
    
    footer span:last-child {
        display: inline-block;
        margin-top: 7px;
    }

}

@media (max-width: 768px) and (min-width: 551px) {
    .main-menu {
        display: flex;
        justify-content: space-between;
    }

    .menu__icon {
        display: inline-block;
        margin-right: 20px;
        margin-top: 10px;
    }

    .header1 {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon::before, 
    .menu__icon::after,
    .menu__icon span {
        left: 0;
        height: 10%;
        width: 100%;
        position: absolute;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before, 
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }
 
    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        display: inline-block;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #404149;
        opacity: 0.9;
        left: -160%;
        padding: 16px 19px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }

    .menu-list a {
        margin-top: 15px;
        font-size: 24px;
    } 

    .header2 .container {
        display: block;
    }

    .main__phone {
        display: none;
    }

    .menu-list a {
        margin-right: 10px;
    } 

    header .main-img img {
        width: 48px;
        height: 38px;
    }

    .header2 {
        background-image: url(../images/header320.png);
        
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        padding-bottom: 8px;
    }

    header .main-img {
        width: 48px;
        height: 38px;
        margin-right: 110px;
    }

    header {
        padding: 7px 14px 0 7px;
        border-bottom: 0;
    }
    
    .fon {
        height: 256px;
    }

    .info {
        padding: 108px 0 0 0;
    }

    .info span {
        font-size: 15px;
    }

    .info h1 {
        font-size: 17px;
        max-width: 307px;
        padding: 10px 0 15px 0;
        margin: 0 auto;
    }

    .info button {
        width: 121px;
        height: 30px;
        font-size: 14px;
        line-height: 10px;
    }

    .fon {
        padding: 7px 0 135px 0;
    }

    /* -----СТАТЬЯ------ */

    .scroll-articles-all__main p {
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        color: #FFFFFF;
    }

    .scroll-articles-all__title h2 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        color: #FFFFFF;
        margin-left: 10px;
    }

    .scroll-articles-all__main img {
        max-width: 150px;
        max-height: 150px;
        width: 100%;
        height: auto;
        float: left;
        margin: 0 15px 0 0;
    }

    .container-scroll {
        background: #404149;
        border-radius: 40px;
        max-width: 1300px;
        margin: 0 auto;
        padding: 28px 79px 80px 48px;
    }

    .articles__text__title img {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 19px;
    }

    .articles__text {
        background: #F7F7F7;
        padding: 30px;
        margin-top: 51px;
        margin: 15px auto 0;
        max-width: 290px;

        overflow: auto;
        height: 200px;
    }

    .articles__text {
        background: #F7F7F7;
        padding: 12px;
        margin-top: 51px;
        margin: 15px auto 0;
        max-width: 290px;
        overflow: auto;
        height: 200px;
    }

    /* -----КОНТАКТЫ--------- */

    .contacts {
        padding-top: 26px;
        padding-bottom: 46px;
        margin: 0;
    }

    .container-contacts {
        max-width: 268px;
        margin: 0 auto;
    }

    .contacts h2 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .one {
        max-width: 150px;
    }

    .two {
        max-width: 118px;
    }

    .three, .four {
        margin-top: 40px;
    }

    .wrapper-contacts {
        display: flex;
        max-width: 268px;
        flex-wrap: wrap;
    }

    .contacts-block {
        display: block;
    }

    .contacts-block img {
        margin-bottom: 5px;
    }

    .contacts-block .contacts-block-title {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .contacts-block .contacts-block-text {
        font-size: 14px;
        line-height: 17px;
    }

    .unic2 {
        max-width: 89px;
        margin: 0 auto;
    }

    /* ------footer------- */

    .container-footer {
        max-width: 265px;
        flex-direction: column;
        padding: 10px 0 13px;
        text-align: center;
    }
    
    footer span:last-child {
        display: inline-block;
        margin-top: 7px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
    .main-menu {
        display: flex;
        justify-content: space-between;
    }

    .header1 {
        display: none;
    }

    .header2 {
        display: block;
    }
    
    .menu__icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-top: 10px;
    }

    .header1 {
        display: none;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        max-width: 200px;
    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon::before, 
    .menu__icon::after,
    .menu__icon span {
        left: 0;
        height: 10%;
        width: 100%;
        position: absolute;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }

    .menu__icon::before, 
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }
 
    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        display: inline-block;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #404149;
        opacity: 0.9;
        left: -160%;
        padding: 16px 19px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active {
        left: 0;
    }


    .menu-list a {
        margin-top: 15px;
        font-size: 24px;
    } 

    .header2 .container {
        display: block;
    }

    .main__phone {
        display: none;
    }

    .menu-list a {
        margin-right: 10px;
    } 

    header .main-img img {
        width: 48px;
        height: 38px;
    }

    .header2 {
        background-image: url(../images/header320.png);
        
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        padding-bottom: 8px;
    }

    header .main-img {
        width: 48px;
        height: 38px;
        margin-right: 110px;
    }

    header .main__menu__item:hover {
        border-bottom: 1px solid white;
    }

    a {
        text-decoration: none;
    }

    header {
        padding: 7px 14px 0 7px;
        border-bottom: 0;
    }

    .fon {
        height: 256px;
    }

    .info {
        padding: 108px 0 0 0;
    }

    .info span {
        font-size: 20px;
    }

    .info h1 {
        font-size: 25px;
        max-width: 447px;
        padding: 10px 0 15px 0;
        margin: 0 auto;
    }

    .info button {
        width: 146px;
        height: 39px;
        font-size: 17px;
        line-height: 10px;
    }

    .fon {
        padding: 7px 0 135px 0;
    }

    /* --------СТАТЬИ---------- */
    .articles__text {
        background: #F7F7F7;
        padding: 12px;
        margin-top: 51px;
        margin: 15px auto 0;
        max-width: 290px;
        overflow: auto;
        height: 200px;
    }


    /* --------КОНТАКТЫ--------- */
    .contacts {
        padding-top: 26px;
        padding-bottom: 46px;
        margin: 0;
    }

    .container-contacts {
        max-width: 551px;
        margin: 0 auto;
    }

    .contacts h2 {
        font-size: 25px;
        margin-bottom: 25px;
    }

    .one {
        max-width: 150px;
    }

    .two {
        max-width: 118px;
    }

    .three, .four {
        margin-top: 0;
    }

    .wrapper-contacts {
        display: flex;
        max-width: 581px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .contacts-block {
        display: block;
    }

    .contacts-block img {
        margin-bottom: 5px;
    }

    .contacts-block .contacts-block-title {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .contacts-block .contacts-block-text {
        font-size: 14px;
        line-height: 17px;
    }

    .unic2 {
        max-width: 89px;
        margin: 0 auto;
    }

    /* ------footer------- */

    .container-footer {
        max-width: 265px;
        flex-direction: column;
        padding: 10px 0 13px;
        text-align: center;
    }
    
    footer span:last-child {
        display: inline-block;
        margin-top: 7px;
    }
}

@media (max-width: 1426px) and (min-width: 1201px) {
    .scroll-articles-all {
        max-width: 1200px;
        display: inline-block;
        vertical-align: top;
        overflow: auto;
        padding: 0 20px 30px 16px;
        height: 370px;
    }

    .scroll-articles-all__main p {
        font-size: 24px;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
    }
}